<!DOCTYPE html>
<html lang="fr">

<head>
    <title>Actions</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </script>
  <script>

    var myChart; 
    var ctx

    function afficherPopup() {
      var Nom_Symbol = "";
      var texteSaisi = "";

      // Vérifiez si inputText2 est rempli
      var texteSaisi2 = document.getElementById("inputText2").value.trim()
        if (texteSaisi2 !== "") {
          // Si inputText2 est rempli, appliquez la fonction nom_marque_to_symbol
          Nom_Symbol = "Nom";
          texteSaisi = texteSaisi2;
      } else {
          // Sinon, utilisez la valeur de inputText
          Nom_Symbol = "Symbol";
          texteSaisi = document.getElementById("inputText").value.toLowerCase();
}

      fetch(`/stock_data/${texteSaisi}/${Nom_Symbol}`)
        .then(response => response.json())
        .then(data => {

          if (myChart) {
          myChart.destroy();
           }

          ctx = document.getElementById('stockChart').getContext('2d');
          myChart = new Chart(ctx, {
            type: 'line',
            data: {
              labels: data.labels,
              datasets: [{
                label: 'Cours de l\'action',
                data: data.values,
                borderColor: 'rgba(75, 192, 192, 1)',
                borderWidth: 1
              }]
            },
            options: {
              // Configuration du graphique (titre, légende, axes, etc.)
              // Vous pouvez personnaliser selon vos besoins
            }
          });
          $('#myModal').modal('show'); 
        
        });
    }
    
  </script>
    <style>
  /* Ajoutez du CSS pour aligner les éléments côte à côte */
  .input-container {
  display: flex;
  flex-direction: row; /* Utilisez "row" pour afficher les éléments côte à côte */
  gap: 10px; /* Espace entre les éléments enfants */
  }

  .input-container input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: black !important; /* Ajoutez !important pour renforcer la règle */
}




input {
width: 100%;
padding: 8px;
margin-bottom: 16px;
box-sizing: border-box;
border: 1px solid #ccc;
border-radius: 4px;
}

button {
background-color: #4caf50;
color: #fff;
padding: 10px 15px;
border: none;
border-radius: 4px;
cursor: pointer;
}

a.button-primary {
display: block;
background-color: #3498db;
color: #fff;
text-decoration: none;
padding: 10px 15px;
border-radius: 4px;
margin-top: 10px;
}

a.button-primary:hover,
button:hover {
opacity: 0.8;
}
    </style>



<body>
    <div class="banner">
        <!-- Menu horizontal pour les onglets -->
        <nav class="navigation">
            <ul>
                <li><a href="{{ url_for('index') }}"> Mon Compte</a></li>
                <li><a href="{{ url_for('actions') }}"> Actions</a></li>
                <li><a href="{{ url_for('american') }}"> Options américaines</a></li>
                <li><a href="{{ url_for('european') }}"> Options européennes</a></li>
                <li><a href="{{ url_for('about_us') }}"> About us</a></li>
                <a href="/logout">Déconnexion</a>
            </ul>
        </nav>
    </div>


    
       

  <main id="main-container" class="main-container">
    <header class="header">
      <h1 class="header-title">Marché d'actions</h1>
    </header>
    <section class="messages-container" id="messages-container">
      <div class="message">
        AI powered pricer for quantitative finance. 
      </div>
    </section>


<p>Bonjour, {{ username }} ! Votre solde actuel est de {{ balance }} euros.</p>
    
<!-- Barre de saisie de texte -->
<h4>Saisissez le symbole ou le nom de l'actions qui vous intéresse : </h4>
<div class="input-container">
  <input list="stockSuggestions" type="text" id="inputText" placeholder="SYMBOLE">
  <input list="nomsSuggestions" type="text" id="inputText2" placeholder="NOM">
  <datalist id="stockSuggestions"></datalist>
  <datalist id="nomsSuggestions"></datalist>
</div>
<!-- Bouton pour afficher la pop-up en fonction du texte saisi -->
<button class="btn btn-primary" onclick="afficherPopup()">Valider</button>

<!-- Modal (Pop-up) -->
<div class="modal fade" id="myModal" style="display: none;">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <!-- Contenu de la pop-up -->
      <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-body">
            <canvas id="stockChart" width="400" height="200"></canvas>
          </div>
          <!-- Bouton pour fermer la pop-up -->
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

    <h4>Acheter ou vendre des actions</h4>
    
    <!-- Formulaire pour acheter des actions -->
    <div class="buy-stock">
      <form action="/buy_stock" method="post">
        <label for="stock_name">Nom de l'action:</label>
        <!-- <input list="nomsSuggestions" type="text" id="stock_name_buy" name="stock_name_buy" required> -->
        <input  list="buyStockSuggestions" type="text" id="stock_name_buy" name="stock_name_buy" required>
        <datalist id="buyStockSuggestions"></datalist>

        <label for="stock_number">Nombre d'actions:</label>
        <input type="number" id="stock_number_buy" name="stock_number_buy" required>
  
        <button type="submit" class="button-primary" name="buy_button">Acheter</button>
      </form>
    </div>
    <h1></h1>
    <!-- Formulaire pour vendre des actions -->
    <div class="sell-stock">
      <form action="/sell_stock" method="post">
        <label for="stock_name">Nom de l'action:</label>
        <input type="text" id="stock_name_sell" name="stock_name_sell" required>

        <label for="stock_number">Nombre d'actions:</label>
        <input type="number" id="stock_number_sell" name="stock_number_sell" required>
  
        <button type="submit" name="buy_button">Vendre</button>
      </form>
    </div>
    

<div class="user-portfolio">
  <h2>User's Portfolio</h2>
  <ul>      
    {% for stock_name, quantity in stock_portfolio.items() %}
      <li>{{ stock_name }}: {{ quantity }} actions</li>
    {% endfor %}      
  </ul>
</div>

{% with messages = get_flashed_messages() %}
{% if messages %}
  <ul class="flash-messages">
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}
{% endwith %}
</div>

  </main>
  <script src="{{ url_for('static', filename='prompt.js') }}"></script>
</body>


</html>